
.myParagraph {
  font-size: 17px;
  padding-top: 15px;
}

  .myPic {
    height: 250px;
    border-radius: 50%;
    width: 250px;
  }
  
  .banner-text {
    background-color: rgb(7, 7, 7);
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
  }
  
  .banner-text h1 {
    font-size: 60px;
    font-weight: bold;
    color: rgb(235, 242, 243);
    font-family: 'Russo One', sans-serif;
    padding-top: 20px;
  }

  .banner-text h3 {
    font-size: 24px;
    font-weight: bold;
    color: rgb(236, 240, 241);
    font-family: 'Economica', sans-serif;

  }

  .banner-text h4 {
    font-size: 24px;
    font-weight: bold;
    color: rgb(236, 240, 241);
    font-family: 'Economica', sans-serif;

  }
  
  .banner-text hr {
    border-top: 5px dotted white;
    width: 100%;
    margin: auto;
  }
  
  .banner-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
  }
 
  .about {
    padding: 0;
  }
 .wrapper {
    padding: 30px;
    text-align: center;
 }


body{
  background: linear-gradient(to right, #e2c27c,  #7febdc,#dd8949); 
}

.contact {
  color: rgb(8, 0, 0);
  font-weight: bold;
  text-align: left;
}

.form-control {
  width: 100%;
}

.myForm{
  border: solid rgb(42, 147, 165);
  padding: 10px;
  width:700px; margin:0 auto;
  box-shadow: 5px 10px 8px;
}

.email {
  color: rgb(18, 168, 168);
  font-size: x-large;
  padding: 10px;
  text-align: center;
  margin-left: 400px;
}

.phone {
  color: rgb(18, 168, 168);
  font-size: x-large;
  padding: 10px;
  margin-left: 40px;
}

.myCard{
  display: inline;
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: rgb(47, 84, 207);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.description{
  font-size: 15px;
  color: rgb(47, 84, 207);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.githubRepo{
  font-weight: bold;
}

.deployedApp{
  font-weight: bold;
}

.myImage {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border-radius: 3%;
  box-shadow: 5px 10px 8px;
}

.cardBody{
  padding-top: 0px;
}

.myHeader {
  font-family: 'Russo One', sans-serif;
  text-align: center;
  color: #dd8949;
}

